.bg-p {
  background-color: orangered;
}
.navbar-nav {
  display: flex;
  flex-direction: row;

  margin-left: 50px;
}
.nav-item {
  margin-left: 30px;
}
.ul-1 {
  padding-left: 150px;
  /* margin-left: 50px; */
}
.btn-1 {
  background-color: orangered;
  width: 90px;
  color: white;
}
.slider img {
  opacity: 0.8;
}

/* slider  */

.carousel-item img {
  width: 100%;
  height: 90vh;
}
.pik-1 {
  height: 420px;
  width: 520px;
}

.info-box img {
  width: 90px;
}

/* for-k  */
.for-k {
  background: linear-gradient(
      to right,
      rgb(222, 85, 119),
      rgba(237, 95, 103, 0.5)
    ),
    url(./images/card2.png);
  background-size: cover;
}
.for-k .subscrib {
  font-weight: 900;
}

/* tem  */
.text-orange {
  color: orangered;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.inner {
  max-width: 1400px;
  margin: 0 auto;
}

/* our team  */
.containers {
  width: 100%;
  height: 50vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.team-warp {
  width: 20%;
  margin-top: 20px;
}
.temimg img {
  -webkit-transition: all 0.2s ease-in-out;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.team-member,
.temimg {
  position: relative;
  overflow: hidden;
}
.team-title {
  margin: 30px 0 7px;
  font-size: 20px;
}
.overlay {
  background-color: rgba(20, 20, 20, 0.7);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: rgb(191, 72, 72);
  -webkit-transition: all 0.2s ease-in-out;
}
.tem-datils {
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 0;
  padding: 3%;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  -webkit-transition: all 0.2s ease-in-out;
}
.tem-datils p {
  color: #efd7d7;
}

.temimg:hover .tem-datils {
  opacity: 1;
  margin-top: -20px;
}

.temimg:hover .overlay {
  opacity: 1;
}

.sosiyal a {
  display: inline-block;
  width: 37px;
  height: 37px;
  background-color: transparent;
}
.sosiyal span {
  line-height: 37px;
  color: rgb(191, 72, 72);
  font-size: 30px;
  border-radius: 60%;
  text-align: center;
  -webkit-transition: all 0.2s linear;
}
/* .sosiyal a:hover span {
  color: rgb(17 13 13);
  background-color: #fff;
} */

@media (max-width: 786px) {
  .main-box {
    display: flex;
    flex-direction: column;
  }
  .team-warp {
    width: 50%;
    margin-top: 75px;
  }
}

/* slider-1  */

.slider img {
  width: 50%;
  height: 90vh;
}

/* slider-2  */
.slider-1 {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(8, 32, 50, 0.9), rgba(8, 32, 50, 0.9)),
    url(./images/card2.png);
  background-size: cover;
}

.textmonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  /* background-color: aqua; */
  padding: 50px;
}
.textmonial .photos {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}
.textmonial .sliders {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sliders p {
  padding: 5px 100px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: white;
  opacity: 0.8;
}
.sliders .icons {
  font-size: 30px;
  color: white;
}
.sliders .datils {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  color: orangered;
  padding: 10px;
}
/* footer  */
.terminal {
  position: relative;
  width: 100%;
  height: 450px;
  padding: 50px;
  background: linear-gradient(0deg, rgba(8, 32, 50, 0.9), rgba(8, 32, 50, 0.9)),
    url(./images/card2.png);
  background-size: cover;
}

.terminal .prixima {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-top: 40px;
}

.terminal .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
}

.slide p {
  padding: 0 130px;
  text-align: center;
  font-size: 19 px;
  opacity: 0.5;
  color: white;
}

.slide .icon {
  font-size: 30px;
  color: white;
  margin: 10px;
  opacity: 0.5;
}
