.header {
  height: 90vh;
  width: 100%;
  background-color: black;
  color: rgb(238, 243, 233);
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),
    url(./images1/coding\ with\ girls.webp);
  background-size: cover;
}
.collapse  {
  justify-content: flex-end;
}
.h-100 {
  height: 100%;
  width: 100%;
}
.btn {
  border-radius: 15px;
  font-size: larger;
  font-weight: bold;
}
/* massage  */
.message {
  background: linear-gradient(
    to right,
    rgb(71, 67, 193),
    rgba(214, 60, 201, 0.5)
  );
}
