#header {
  color: #fff;
  background-color: rgb(149, 65, 65);
}
#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#menu li {
  display: inline-block;
}

#menu li a {
  color: #fff;
  text-decoration: none;
  font-size: larger;
  padding: 15px 15px;
  display: block;
}

#menu li a:hover {
  color: azure;
  background-color: black;
}

/* section-1  */
#banner {
  background-image: url("../images1/photo-1.jpg");
  background-size: cover;
  background-position: center center;
}
.banner-title {
  float: right;
  margin: 40px 0px;
}
.banner-title h1 {
  display: inline-block;
  font-weight: bold;
  font-size: 50px;
  color: rgb(180, 26, 26);
  padding: 10px;
  margin: 0;
}
.banner-title p.lead {
  color: rgb(180, 26, 26);
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

/* <!-- section-2  -->  */
#test {
  background-image: url("../images1/photo-2.jpg");
  background-size: cover;
  padding: 50px 0;
  position: relative;
}
#test::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.testimonials img {
  border-radius: 60%;
  text-align: center;
}
.section-head {
  color: azure;
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.p {
  color: azure;
  font-size: larger;
  margin-top: 20px;
}
.other {
  color: azure;
  margin-left: 110px;
  font-size: larger;
}
.other-compney {
  color: azure;
  margin-left: 110px;
  font-size: 2.3rem;
}
/* <!-- section-3 -- */
.card .card-title {
  color: rgb(192, 33, 33);
}
/* <!-- section-4 -- */
